:root {
	--color-header-footer: #52796f;
	--color-main: #eaede8;
	--color-secondary: #cad2c5;
	--color-text-main: #2f3e46;
	--color-text-secondary: #fff;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

* {
	box-sizing: border-box;
}
